#
#   ▄▄▄▄   ▓█████▄▄▄█████▓▄▄▄█████▓▓█████  ██▀███       ██████ ▓█████  ▄████▄   █    ██  ██▀███   ██▓▄▄▄█████▓▓██   ██▓
#  ▓█████▄ ▓█   ▀▓  ██▒ ▓▒▓  ██▒ ▓▒▓█   ▀ ▓██ ▒ ██▒   ▒██    ▒ ▓█   ▀ ▒██▀ ▀█   ██  ▓██▒▓██ ▒ ██▒▓██▒▓  ██▒ ▓▒ ▒██  ██▒
#  ▒██▒ ▄██▒███  ▒ ▓██░ ▒░▒ ▓██░ ▒░▒███   ▓██ ░▄█ ▒   ░ ▓██▄   ▒███   ▒▓█    ▄ ▓██  ▒██░▓██ ░▄█ ▒▒██▒▒ ▓██░ ▒░  ▒██ ██░
#  ▒██░█▀  ▒▓█  ▄░ ▓██▓ ░ ░ ▓██▓ ░ ▒▓█  ▄ ▒██▀▀█▄       ▒   ██▒▒▓█  ▄ ▒▓▓▄ ▄██▒▓▓█  ░██░▒██▀▀█▄  ░██░░ ▓██▓ ░   ░ ▐██▓░
#  ░▓█  ▀█▓░▒████▒ ▒██▒ ░   ▒██▒ ░ ░▒████▒░██▓ ▒██▒   ▒██████▒▒░▒████▒▒ ▓███▀ ░▒▒█████▓ ░██▓ ▒██▒░██░  ▒██▒ ░   ░ ██▒▓░
#  ░▒▓███▀▒░░ ▒░ ░ ▒ ░░     ▒ ░░   ░░ ▒░ ░░ ▒▓ ░▒▓░   ▒ ▒▓▒ ▒ ░░░ ▒░ ░░ ░▒ ▒  ░░▒▓▒ ▒ ▒ ░ ▒▓ ░▒▓░░▓    ▒ ░░      ██▒▒▒
#  ▒░▒   ░  ░ ░  ░   ░        ░     ░ ░  ░  ░▒ ░ ▒░   ░ ░▒  ░ ░ ░ ░  ░  ░  ▒   ░░▒░ ░ ░   ░▒ ░ ▒░ ▒ ░    ░     ▓██ ░▒░
#   ░    ░    ░    ░        ░         ░     ░░   ░    ░  ░  ░     ░   ░         ░░░ ░ ░   ░░   ░  ▒ ░  ░       ▒ ▒ ░░
#   ░         ░  ░                    ░  ░   ░              ░     ░  ░░ ░         ░        ░      ░            ░ ░
#        ░                                                            ░                                        ░ ░
#
#   Version: 1.6.2 | BungeeCord Version
#   Configuration
#
#   Wiki: https://zs0bye.gitbook.io/bettersecurity/plugins/bettersecurity
#
# Function of the executors:
#
# - [MESSAGE] text                                         | (Func. Send a chat message) | (Example: [MESSAGE] &aHello World!)
#
# - [TITLE] title;subtitle;fade-in;stay;fade-out           | (Func. Submit a title)
#                                                          | (Tip. If you enter "none" in the title or subtitle, it will not be displayed)
#                                                          | (Example: [TITLE] &a&lHELLO WORLD;&a&l┃ &aThis is a fantastic world!;1;2;1)
#
# - [ACTION] text                                          | (Func. Send a message in the action bar) | (Example: [ACTION] &aHello World!)
#
# - [PLAYER] command without '/'                           | (Func. Send a command as a player) | (Example: [PLAYER] spawn)
#
# - [CONSOLE] command without '/'                          | (Func. Send a command from the console) | (Example: [CONSOLE] give %player% DIAMOND 1)
#
# - [KICK] reason                                          | (Func. Kick the player for a reason) | (Example: [KICK] &cYou got kicked, because you don't have cookies.)
#
# If you put an "@" in front of the text, it will broadcast the execution.
# Works for the following performers: [MESSAGE], [TITLE], [ACTION], [BOSSBAR], [SOUND]
# Examples: [MESSAGE] @&aHello World! | [TITLE] @&a&lHELLO WORLD;&a&l┃ &aThis is a fantastic world!;20;40;20
# | [ACTION] @&aHello World! | [BOSSBAR] @&aHello World!;GREEN;SEGMENTED_20;1.0;5 | [SOUND] @BLOCK_LAVA_POP;0;1
#
# If you don't want to do anything, just put "[]" after "executors:"
# Example: executors: []
#
# You can use the following placeholders in all executors:
# - %player% | (Name of the player who attempted to execute the command)
# - %server% | (Server name)
# - %command% | (The command that was blocked)
# - %center% | (You can center text, only works with messages)


#  _________                              ______
#  __  ____/_____________________________ ___  /
#  _  / __ _  _ \_  __ \  _ \_  ___/  __ `/_  /
#  / /_/ / /  __/  / / /  __/  /   / /_/ /_  /
#  \____/  \___//_/ /_/\___//_/    \__,_/ /_/
#
Settings:
  prefix: '&eBetterSecurity ┃ &7'
  # Available languages: en_US, it_IT
  locale: en_US
  check_update: true


#  ______________           ______      ________      ______       _________                        ______    _____
#  ___  __ )__  /______________  /__    ___  __/_____ ___  /_      __  ____/____________ ______________  /______  /_____
#  __  __  |_  /_  __ \  ___/_  //_/    __  /  _  __ `/_  __ \     _  /    _  __ \_  __ `__ \__  __ \_  /_  _ \  __/  _ \
#  _  /_/ /_  / / /_/ / /__ _  ,<       _  /   / /_/ /_  /_/ /     / /___  / /_/ /  / / / / /_  /_/ /  / /  __/ /_ /  __/
#  /_____/ /_/  \____/\___/ /_/|_|      /_/    \__,_/ /_.___/      \____/  \____//_/ /_/ /_/_  .___//_/  \___/\__/ \___/
#                                                                                           /_/
Block_Tab_Complete:

  # --------- < ⚠ > ---------
  # If you have BungeeCord, the use of Waterfall (https://papermc.io/) is recommended.
  # This is because you can also block the commands in tab 1.13+ of the proxy.
  enabled: true

  # Do you have waterfall or forks using it? (Types: Aegis, FlameCord, etc..).
  # ⚠ If the answer is yes then you definitely need to activate this option!
  # Because it allows you to block the proxy command tablist.
  waterfall_prevention: false

  # Prevents tabbing of these commands, so as not to conflict with other plugins.
  commands:
    - 'pl'
    - 'plugins'
    - 'ver'
    - 'version'
    - 'about'
    - '?'
    - 'help'
    - 'bukkit:pl'
    - 'bukkit:plugins'
    - 'bukkit:ver'
    - 'bukkit:version'
    - 'bukkit:about'
    - 'bukkit:?'
    - 'bukkit:help'
    - 'minecraft:?'
    - 'minecraft:help'

  bypass:
    # Here you can enter what kind of bypass you prefer
    # to be able to perform the complete tab:
    # - PERMISSION | (Bypass via permission: bettersecuritybungee.bypass.antitab)
    # - PLAYERS | (Bypass by player name)
    method: 'PERMISSION'
    # Tip. You can put both the player's name and his UUID.
    players:
      - 'playerName1'
      - '8667ba71-b85a-4004-af54-457a9734eed7'

  whitelisted_commands:

    enabled: true

    # If it is on "true", you will be able to tab the command much more conveniently!
    # BUT, in order to function correctly, the use of BetterSecurity is also recommended in the spigot.
    # This is because by activating this method, blocking the tab only from the bungeecord, it may not work correctly.
    partial_matches: false

    # Here you can put the groups under the "groups" list, which are enabled in the proxy.
    # If you enter "*", you will enable all groups.
    enabled_groups:
      - '*'

    # This is the list of suggestions groups whitelisted in the complete tab.
    # In these groups you can put the following requirements:
    # - required_server: <serverName> | (If you put this requirement, the group will go only for the specified server)
    # - required_permission: <permission> | (If you set this requirement, the group will go only for those who have the specified permission)
    # - required_players: ['playername1', 'playername2'] | (If you put this requirement, the group will go only for the players in the list)
    # If you want to put multiple requirements in one group you can do it safely.
    # You can also ignore one or more servers in a group, by putting:
    # - ignore_servers: ['server1', 'server2'] | (Servers that are in this list will not see group suggestions)
    groups:
      # This is an example of a group with no requirements, suggestions inside this group will be seen by everyone.
      global:
        # List of whitelisted suggestions in complete tabs.
        suggestions:
          - 'tell'
          - 'msg'
          - 'w'
          - 'whisper'
          - 't'
          - 'r'
          - 'reply'
      # In this example group, the hints will be shown on all servers, except the servers that have been skipped.
      spawn:
        ignore_servers:
          - 'bedwars'
          - 'skywars'
        suggestions:
          - 'spawn'
      # This is an example of a group that only requires one server.
      # The suggestions in this list will only be displayed by the requested server.
      lobby:
        required_server: lobby
        suggestions:
          - 'login'
          - 'l'
          - 'reg'
          - 'register'
      # This is an example of a group that only requires one server and one permission.
      # The player who is inside that server, and has that permission, will see the suggestions listed.
      faction_vip:
        required_server: faction
        required_permission: 'bettersecuritybungee.tab.faction_vip'
        suggestions:
          - 'fly'
      # This is an example of a group that only requires a permit.
      # The player who has that permission will see this list of suggestions.
      staff:
        required_permission: 'bettersecuritybungee.tab.staff'
        suggestions:
          - 'tempban'
          - 'tempmute'
          - 'unban'
          - 'pardon'
          - 'kick'
          - 'unmute'
          - 'warn'
          - 'warnings'
          - 'history'
          - 'dupeip'
          - 'ss'
          - 'freeze'
          - 'unfreeze'
      # This is an example of a group that only requires a list of players.
      # Players in this list will see these suggestions.
      owner:
        required_players:
          - 'playername1'
          - 'playername2'
        suggestions:
          - 'op'
          - 'deop'


#  ___       __                    _____
#  __ |     / /_____ _________________(_)_____________ ________
#  __ | /| / /_  __ `/_  ___/_  __ \_  /__  __ \_  __ `/_  ___/
#  __ |/ |/ / / /_/ /_  /   _  / / /  / _  / / /  /_/ /_(__  )
#  ____/|__/  \__,_/ /_/    /_/ /_//_/  /_/ /_/_\__, / /____/
#                                              /____/
Warnings:

  # In this field you can decide whether to activate the logs also via the console.
  log_console: true

  # This message will be sent to those with permission: bettersecuritybungee.broadcast.warnings
  # < ? > You can find more information about the executors in the header.
  # ATTENTION! Do not use the "@" in front of the broadcast, there is already the automatic one via the above permission.
  formats:
    commands:
      # You can use the following placeholders:
      # - %command% | (The command that was blocked)
      format:
        - '[MESSAGE] &e&l⚠ &e%server% ┃ &b%player% &7attempted to execute the command: &c%command%'
      console: '%player% attempted to execute the command: %command%'
    prevent_command_spam:
      # You can use the following placeholders:
      # - %command% | (The command executed too many times)
      format:
        - '[MESSAGE] &e&l⚠ ┃ &b%player% &7has executed the command too many times: &c%command%'
      console: '%player% has executed the command too many times: %command%'


#  ______________           ______             _________                                         _________
#  ___  __ )__  /______________  /_________    __  ____/____________ __________ _________ _____________  /_______
#  __  __  |_  /_  __ \  ___/_  //_/_  ___/    _  /    _  __ \_  __ `__ \_  __ `__ \  __ `/_  __ \  __  /__  ___/
#  _  /_/ /_  / / /_/ / /__ _  ,<  _(__  )     / /___  / /_/ /  / / / / /  / / / / / /_/ /_  / / / /_/ / _(__  )
#  /_____/ /_/  \____/\___/ /_/|_| /____/      \____/  \____//_/ /_/ /_//_/ /_/ /_/\__,_/ /_/ /_/\__,_/  /____/
#
Blocks_Commands:

  enabled: true

  # If it is on "true" the execution attempt warning will be sent to chat.
  warning: true

  # Here you can enter the type of method you want to use to block commands:
  # - BLACKLIST | (The commands in the list will be blocked)
  # - WHITELIST | (The commands in the list will be able to execute)
  method: 'BLACKLIST'

  # Forced checking if enabled can cause problems with other plugins.
  # For example AuthMeBungee (If you execute a blocked command before login, the plugin will overwrite it)
  force_check: false

  # This message will be shown as soon as the command is blocked.
  # < ? > You can find more information about the executors in the header.
  executors:
    - '[MESSAGE] %prefix%&cYou cannot execute this command!'

  # List of blocked or enabled commands according to the selected method.
  # If you want to block commands only through "server mode", just put "commands: []"
  commands:
    - 'bungee'
    - 'waterfall'
    - 'pl'
    - 'plugins'
    - 'ver'
    - 'version'
    - 'about'
    - '?'
    - 'help'
    - 'bukkit:pl'
    - 'bukkit:plugins'
    - 'bukkit:ver'
    - 'bukkit:version'
    - 'bukkit:about'
    - 'bukkit:?'
    - 'bukkit:help'
    - 'minecraft:?'
    - 'minecraft:help'

  # Server mode allows you to block commands based on the server the player is on.
  server_mode:

    enabled: false

    # This is the list of servers where commands are blocked.
    servers:
      # This is an example server.
      lobby:
        # < ? > The methods are the same that are located above.
        method: 'BLACKLIST'
        # Instead these are the commands blocked on that server.
        commands:
          - 'examplecommand1'
          - 'examplecommand2'
      # In this example you can use another message.
      survival:
        # < ? > The methods are the same that are located above.
        method: 'BLACKLIST'
        # This executor will only be sent to this server.
        # < ? > You can find more information about the executors in the header.
        executors:
          - '[MESSAGE] &a&lSURVIVAL ┃ &cYou cannot execute this command!'
        # Instead these are the commands blocked on that server.
        commands:
          - 'examplecommand1'
          - 'examplecommand2'


#  ________                               _____     _________                                         _________   ________
#  ___  __ \______________   _______________  /_    __  ____/____________ __________ _________ _____________  /   __  ___/_____________ _______ ___
#  __  /_/ /_  ___/  _ \_ | / /  _ \_  __ \  __/    _  /    _  __ \_  __ `__ \_  __ `__ \  __ `/_  __ \  __  /    _____ \___  __ \  __ `/_  __ `__ \
#  _  ____/_  /   /  __/_ |/ //  __/  / / / /_      / /___  / /_/ /  / / / / /  / / / / / /_/ /_  / / / /_/ /     ____/ /__  /_/ / /_/ /_  / / / / /
#  /_/     /_/    \___/_____/ \___//_/ /_/\__/      \____/  \____//_/ /_/ /_//_/ /_/ /_/\__,_/ /_/ /_/\__,_/      /____/ _  .___/\__,_/ /_/ /_/ /_/
#                                                                                                                      /_/
Prevent_Command_Spam:

  # This feature allows you to fix an exploit that crashes your proxy!
  # You can customize it as you like according to your needs.
  enabled: true

  # If it is on "true" the execution attempt warning will be sent to chat.
  warning: true

  # This option determines how often you can run the command (In seconds)
  delay: 3

  # This function determines how many commands based on the delay, the player is punished.
  # (If set to 0, this function will be ignored)
  command_limit: 10

  # If this is set to "true", you will not be able to execute the command during the cooldown.
  block_command: false

  # (If you have set the command limit, along with the kick, this section will be ignored.
  # You can also ignore it by simply putting -> message: '')
  # This message will be shown during a cooldown.
  #
  # You can use the following placeholders:
  # - %seconds% | (Seconds left)
  # - %commands% | (Number of commands executed)
  # < ? > You can find more information about the executors in the header.
  executors:
    - '[KICK] &cYou performed %commands% commands in 3 seconds!\n&cPlease rejoin and don''t make commands too fast.'

  # Here you can enter the type of method you want to use to set the command cooldown:
  # - BLACKLIST | (The commands in the list will have the cooldown)
  # - WHITELIST | (Commands in the list will have no cooldowns)
  method: 'BLACKLIST'

  commands:
    - 'alert'
    - 'alertraw'
    - 'bungee'
    - 'end'
    - 'find'
    - 'glist'
    - 'greload'
    - 'ip'
    - 'perms'
    - 'send'
    - 'server'
    - 'lpb'
    - 'luckpermsbungee'

#    ____                                _   _             _  __           _        ____
#   |  _ \ _____      _____ _ __ ___  __| | | |__  _   _  | |/ /   _  ___ | |_ ___ |  _ \ ___  ___  ___  _   _ _ __ ___ ___  ___
#   | |_) / _ \ \ /\ / / _ \ '__/ _ \/ _` | | '_ \| | | | | ' / | | |/ _ \| __/ _ \| |_) / _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
#   |  __/ (_) \ V  V /  __/ | |  __/ (_| | | |_) | |_| | | . \ |_| | (_) | || (_) |  _ <  __/\__ \ (_) | |_| | | | (_|  __/\__ \
#   |_|   \___/ \_/\_/ \___|_|  \___|\__,_| |_.__/ \__, | |_|\_\__, |\___/ \__\___/|_| \_\___||___/\___/ \__,_|_|  \___\___||___/
#                                                  |___/       |___/